FORMAT: 1A
HOST: http://private-adf3e-greenway.apiary-mock.com/

# Greenway

Authoring Learning Objectives.

## Books [/books]

### List All Books [GET]

+ Response 200 (application/json)

        {
            "books": [
                {
                    "title": "Pre-Calculus",
                    "author": "Book Author",
                    "modifiedAt": "2012-04-23T18:25:43.511Z",
                    "chapters": [
                        {
                            "_links": {
                                "self": { "href": "http://private-adf3e-greenway.apiary-mock.com/chapters/e5b5fe27-8dd2-45af-bcd0-1b60d8608882" },
                                "thumbnail": { "href": "/images/thumbnails/calc2.png" }
                            },
                            "id": "e5b5fe27-8dd2-45af-bcd0-1b60d8608882",
                            "title": "Logarithmic and Exponential Functions",
                            "number": "2",
                            "createdAt": "2012-04-23T18:25:43.511Z",
                            "percentComplete": 100
                        }, 
                        {
                            "_links": {
                                "self": { "href": "http://private-adf3e-greenway.apiary-mock.com/chapters/ec70fc50-2be3-4548-b71d-326460cb2f72" },
                                "thumbnail": { "href": "/images/thumbnails/calc6.png" }
                            },
                            "id": "ec70fc50-2be3-4548-b71d-326460cb2f72",
                            "title": "Applications of Integration",
                            "number": "6",
                            "createdAt": "2012-04-23T18:25:43.511Z",
                            "percentComplete": 30
                        }
                    ]
                },
                {
                    "title": "Statistics",
                    "author": "Book Author",
                    "modifiedAt": "2012-03-23T18:25:43.511Z",
                    "chapters": [
                        {
                            "_links": {
                                "self": { "href": "http://private-adf3e-greenway.apiary-mock.com/chapters/e5b5fe27-8dd2-45af-bcd0-1b60d8608882" },
                                "thumbnail": { "href": "/images/thumbnails/stats7.png" }
                            },
                            "id": "e5b5fe27-8dd2-45af-bcd0-1b60d8608882",
                            "title": "Linear Regression",
                            "number": "7",
                            "createdAt": "2012-03-23T18:25:43.511Z",
                            "percentComplete": 88
                        }
                    ]
                }
            ]
        }
        

## Chapter [/chapters/{chapterId}]

### Retrieve Chapter [GET]

+ Parameters
    + chapterId (string) - ID of the Chapter in the form of an alphanumeric ID.

+ Response 200 (application/json)

        {
            "_links": {
                "self": { "href": "http://private-adf3e-greenway.apiary-mock.com/chapters/ec70fc50-2be3-4548-b71d-326460cb2f72" },
                "pdf": { "href": "http://private-adf3e-greenway.apiary-mock.com/pdfs/06c1cea0-b985-4bf0-ba04-cf0493fcb165.pdf" }
            },
            "id": "ec70fc50-2be3-4548-b71d-326460cb2f72",
            "title": "Applications of Integration",
            "number": "6",
            "createdAt": "2012-04-23T18:25:43.511Z",
            "percentComplete": 30,
            "sections": [
                {
                    "_links": {
                        "self": { "href": "http://private-adf3e-greenway.apiary-mock.com/chapters/ec70fc50-2be3-4548-b71d-326460cb2f72/sections/6.1" },
                        "objectives": { "href": "http://private-adf3e-greenway.apiary-mock.com/chapters/ec70fc50-2be3-4548-b71d-326460cb2f72/sections/6.1/objectives" }
                    },
                    "title": "Velocity and Net Change",
                    "number": "6.1",
                    "completion": {
                        "completed": 1,
                        "total": 72
                    }
                },
                {
                    "title": "Regions Between Curves",
                    "number": "6.2",
                    "completion": {
                        "completed": 36,
                        "total": 74
                    }
                },
                {
                    "title": "Volume by Slicing",
                    "number": "6.3",
                    "completion": {
                        "completed": 55,
                        "total": 70
                    }
                },
                {
                    "title": "Volume by Shells",
                    "number": "6.4",
                    "completion": {
                        "completed": 5,
                        "total": 75
                    }
                },
                {
                    "title": "Length of Curves",
                    "number": "6.5",
                    "completion": {
                        "completed": 42,
                        "total": 42
                    }
                },
                {
                    "title": "Surface Area",
                    "number": "6.6",
                    "completion": {
                        "completed": 0,
                        "total": 83
                    }
                },
                {
                    "title": "Physical Applications",
                    "number": "6.7",
                    "completion": {
                        "completed": 16,
                        "total": 64
                    }
                },
                {
                    "title": "Logarithmic and Exponential Functions Revisited",
                    "number": "6.8",
                    "completion": {
                        "completed": 0,
                        "total": 75
                    }
                },
                {
                    "title": "Exponential Models",
                    "number": "6.9",
                    "completion": {
                        "completed": 32,
                        "total": 46
                    }
                },
                {
                    "title": "Hyperbolic Functions",
                    "number": "6.10",
                    "completion": {
                        "completed": 0,
                        "total": 74
                    }
                }
            ]
        }
    

## Section [/chapters/{chapterId}/sections/{sectionId}]

### Retrieve Section [GET]

+ Parameters
    + sectionId (string) - ID of the Section in the form of a string.

+ Response 200 (application/json)

        {
            "_links": {
                "self": { "href": "http://private-adf3e-greenway.apiary-mock.com/chapters/{chapterId}/sections/{sectionId}" },
                "objectives": { "href": "http://private-adf3e-greenway.apiary-mock.com/chapters/{chapterId}/sections/{sectionId}/objectives" },
                "pdf": { "href": "/images/sample.pdf" }
            },
            "id": "{sectionId}",
            "chapterTitle": "Applications of Integration",
            "chapterNumber": "6",
            "sectionTitle": "Velocity and Net Change",
            "sectionNumber": "6.1",
            "completion": {
                "completed": 1,
                "total": 72
            },
            "objectives": [
                {
                    "number": "1",
                    "content": "Review properties of velocity and net change.",
                    "exerciseIds":[
                        "ffffffff55ac48f0e4b0c679d51ee134"
                    ],
                    "rating": 79,
                    "ratingSuggestions": [
                        {
                            "message": "Mauris sed orci varius dui ultricies dignissim.",
                            "documentation": "http://private-adf3e-greenway.apiary-mock.com/standards/objectives/VB31",
                            "priority": 8
                        },
                        {
                            "message": "Donec a magna id nulla iaculis dapibus.",
                            "documentation": "http://private-adf3e-greenway.apiary-mock.com/standards/objectives/WD22",
                            "priority": 3
                        }
                    ]
                }
            ],
            "exercises": [
                {
                    "number": "1",
                    "id":"ffffffff55ac48f0e4b0c679d51ee131",
                    "content": "Explain the meaning of position, displacement, and distance traveled as they apply to an object moving along a line.",
                    "svgId": "page10"
                },
                {
                    "number": "2",
                    "id":"ffffffff55ac48f0e4b0c679d51ee132",
                    "content": "Suppose the velocity of an object moving along a line is positive. Are displacement and distance traveled equal? Explain.",
                    "svgId": "page10"
                },
                {
                    "number": "3",
                    "id":"ffffffff55ac48f0e4b0c679d51ee133",
                    "content": "Given the velocity function v of an object moving along a line, explain how definite integrals can be used to find the displace- ment of the object.",
                    "svgId": "page10"
                },
                {
                    "number": "4",
                    "id":"ffffffff55ac48f0e4b0c679d51ee134",
                    "content": "Explain how to use definite integrals to find the net change in a quantity, given the rate of change of that quantity.",
                    "svgId": "page10"
                },
                {
                    "number": "5",
                    "id":"ffffffff55ac48f0e4b0c679d51ee135",
                    "content": "Given the rate of change of a quantity Q and its initial value Q(0), explain how to find the value of Q at a future time t ≥ 0.",
                    "svgId": "page10"
                },
                {
                    "number": "6",
                    "id":"ffffffff55ac48f0e4b0c679d51ee136",
                    "content": "What is the result of integrating a population growth rate between times t = a and t = b, where b > a?",
                    "svgId": "page10"
                }
            ],
            "svgs": [
                "<defs><clippath id='c0_10'><path d='M225.5,794.5l0,-209l227,0l0,209Z' /></clippath><clippath id='c1_10'><path d='M224.5,1226.5l0,-209l228,0l0,209Z' /></clippath><style type='text/css'><![CDATA[ .g5_10{ fill: none; stroke: #231F20; stroke-width: 2; stroke-linecap: butt; stroke-linejoin: miter; } .g6_10{ fill: #00AEEF; } .g9_10{ } .g8_10{ fill: none; stroke: #000000; stroke-width: 1; stroke-linecap: butt; stroke-linejoin: miter; } .g2_10{ fill: #FDE8DD; } .g4_10{ fill: #231F20; } .g10_10{ fill: none; stroke: #FFFFFF; stroke-width: 1; stroke-linecap: butt; stroke-linejoin: miter; } .g3_10{ fill: none; stroke: #231F20; stroke-width: 1; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 4; } .g7_10{ fill: none; stroke: #FFFFFF; stroke-width: 2; stroke-linecap: butt; stroke-linejoin: miter; } .g1_10{ fill: #D7EDE7; } .s12_10{ font-size: 12.22px; font-family: TimesLTStd-Roman_37r; fill: #231F20; } .s10_10{ font-size: 12.22px; font-family: TimesLTStd-Italic_393; fill: #231F20; } .s17_10{ font-size: 13.75px; font-family: PearsonMATHPRO01_3o1; fill: #231F20; } .s16_10{ font-size: 13.75px; font-family: TimesLTStd-BoldItalic_3pf; fill: #231F20; } .s13_10{ font-size: 12.22px; font-family: TimesLTStd-Italic_3rv; fill: #231F20; } .s15_10{ font-size: 12.22px; font-family: TimesLTStd-Roman_3rb; fill: #231F20; } .s9_10{ font-size: 13.75px; font-family: PearsonMATHPRO08_3ah; fill: #231F20; } .s4_10{ font-size: 15.28px; font-family: TimesLTStd-Semibold_3gh; fill: #006288; } .s5_10{ font-size: 13.75px; font-family: TimesLTStd-Bold_3m5; fill: #231F20; } .s7_10{ font-size: 13.75px; font-family: PearsonMATHPRO18_3d7; fill: #231F20; } .s8_10{ font-size: 13.75px; font-family: PearsonMATHPRO02_3bv; fill: #231F20; } .s2_10{ font-size: 13.75px; font-family: TimesLTStd-Roman_3k9; fill: #231F20; } .s6_10{ font-size: 13.75px; font-family: TimesLTStd-Italic_3el; fill: #231F20; } .s21_10{ font-size: 10.69px; font-family: TimesLTStd-Bold_3m5; fill: #FFFFFF; } .s1_10{ font-size: 13.75px; font-family: TimesLTStd-Bold_3m5; fill: #006288; } .s14_10{ font-size: 10.69px; font-family: TimesLTStd-Roman_3rb; fill: #231F20; } .s18_10{ font-size: 9.63px; font-family: TimesLTStd-Roman_3k9; fill: #231F20; } .s22_10{ font-size: 9.17px; font-family: Helvetica_3sd; fill: #000000; } .s20_10{ font-size: 9.63px; font-family: TimesLTStd-Italic_3el; fill: #231F20; } .s11_10{ font-size: 10.69px; font-family: TimesLTStd-Roman_37r; fill: #231F20; } .s19_10{ font-size: 9.63px; font-family: PearsonMATHPRO02_3bv; fill: #231F20; } .s3_10{ font-size: 18.33px; font-family: MyriadPro-Bold_3id; fill: #CC017A; } ]]></style></defs><path d='M0,0 L0,1315 L1054,1315 L1054,0 Z ' fill='#FFFFFF' stroke='none' /><text x='714' y='110' dx='0,0,0' class='s1_10'>6.1</text><text x='737' y='110' dx='0,-1.5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>Velocity and Net Change</text><text x='928' y='110' dx='0,0,0' class='s2_10'>407</text><text x='142' y='155' dx='0,0.4,0.4,0.4,0.4,0.4,0.4,0.2,0,0,0,0,0.2,0.4,0.4,0.4,0.4,0.4,0.4,0.4,0.4' class='s3_10'>SECTION 6.1 EXERCISES</text><text x='142' y='183' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s4_10'>Review Questions</text><text x='142' y='204' dx='0,0,0' class='s5_10'>1.</text><text x='169' y='204' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>Explain the meaning of position, displacement, and distance</text><text x='169' y='221' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>traveled as they apply to an object moving along a line.</text><text x='142' y='247' dx='0,0,0' class='s5_10'>2.</text><text x='169' y='247' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>Suppose the velocity of an object moving along a line is positive.</text><text x='169' y='264' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>Are displacement and distance traveled equal? Explain.</text><g exercise='3' class='exercise' id='exercise3'><rect x='132' y='270' width='391' height='62' /><text x='142' y='290' dx='0,0,0' class='s5_10'>3.</text><text x='169' y='290' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>Given the velocity function</text><text x='324' y='290' dx='0' class='s6_10'>v</text><text x='333' y='290' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>of an object moving along a line,</text><text x='169' y='307' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>explain how definite integrals can be used to find the displace-</text><text x='169' y='324' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>ment of the object.</text></g><text x='142' y='350' dx='0,0,0' class='s5_10'>4.</text><text x='169' y='350' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>Explain how to use definite integrals to find the net change in a</text><text x='169' y='366' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>quantity, given the rate of change of that quantity.</text><text x='142' y='392' dx='0,0,0' class='s5_10'>5.</text><text x='169' y='392' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>Given the rate of change of a quantity</text><text x='381' y='392' dx='0' class='s6_10'>Q</text><text x='394' y='392' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>and its initial value</text><text x='503' y='392' dx='0' class='s6_10'>Q</text><text x='513' y='392' dx='0' class='s7_10'>1</text><text x='519' y='392' dx='0' class='s2_10'>0</text><text x='526' y='392' dx='0' class='s7_10'>2</text><text x='532' y='392' dx='0,0.1' class='s2_10'>,</text><text x='169' y='409' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>explain how to find the value of</text><text x='348' y='409' dx='0' class='s6_10'>Q</text><text x='362' y='409' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>at a future time</text><text x='449' y='409' dx='0' class='s6_10'>t</text><text x='459' y='409' dx='0' class='s8_10'>Ú</text><text x='474' y='409' dx='0,0' class='s2_10'>0.</text><text x='142' y='435' dx='0,0,0' class='s5_10'>6.</text><text x='169' y='435' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>What is the result of integrating a population growth rate between</text><text x='169' y='452' dx='0,0,0,0,0,0' class='s2_10'>times</text><text x='202' y='452' dx='0' class='s6_10'>t</text><text x='212' y='452' dx='0' class='s9_10'>=</text><text x='228' y='452' dx='0' class='s6_10'>a</text><text x='238' y='452' dx='0,0,0,0' class='s2_10'>and</text><text x='262' y='452' dx='0' class='s6_10'>t</text><text x='272' y='452' dx='0' class='s9_10'>=</text><text x='287' y='452' dx='0' class='s6_10'>b</text><text x='294' y='452' dx='0,0,0,0,0,0,0,0' class='s2_10'>, where</text><text x='338' y='452' dx='0' class='s6_10'>b</text><text x='351' y='452' dx='0' class='s8_10'>7</text><text x='366' y='452' dx='0' class='s6_10'>a</text><text x='373' y='452' dx='0' class='s2_10'>?</text><text x='142' y='484' dx='0,0,0,0,0,0,0,0,0,0,0,0' class='s4_10'>Basic Skills</text><text x='142' y='505' dx='0,0,0' class='s5_10'>7.</text><text x='169' y='505' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s5_10'>Displacement and distance from velocity</text><text x='410' y='505' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>Consider the graph</text><text x='169' y='522' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>shown in the figure, which gives the velocity of an object mov-</text><text x='169' y='539' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>ing along a line. Assume time is measured in hours and distance</text><text x='169' y='556' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>is measured in miles. The areas of three regions bounded by the</text><text x='169' y='573' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>velocity curve and the</text><text x='294' y='573' dx='0' class='s6_10'>t</text><text x='299' y='573' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>-axis are also given.</text><path d='M250,607.5l0,86.5l33.4,0C267.9,654.6,254.1,607.5,250,607.5Z' class='g1_10' /><path d='M384.3,662.1c-14.5,0,-24.9,14.7,-33.6,31.9l67.2,0c-8.7,-17.2,-19.2,-31.9,-33.6,-31.9Z' class='g1_10' /><path d='M317,746.8c12.5,0,21.5,-28.8,33.7,-52.8l-67.3,0c11.3,28.4,23.4,52.8,33.6,52.8Z' class='g2_10' /><g clip-path='url(#c0_10)'><path d='M225.5,693.5l220,0' class='g3_10' /></g><path d='M445.4,694l-1.7,-2.8l0.1,0l4.5,1.8c1.5,0.3,3.1,0.6,4.7,1c-1.6,0.3,-3.2,0.7,-4.7,1l-4.5,1.8l-0.1,0Z' class='g4_10' /><text x='446' y='706' dx='0' class='s10_10'>t</text><g clip-path='url(#c0_10)'><path d='M249.5,794.5l0,-197' class='g3_10' /></g><path d='M249.8,597l-2.7,1.7L247,598.6l1.8,-4.5c0.3,-1.5,0.7,-3.1,1,-4.7c0.4,1.6,0.7,3.2,1,4.7l1.8,4.5l0,0.1Z' class='g4_10' /><text x='239' y='596' dx='0' class='s10_10'>v</text><text x='415' y='709' dx='0' class='s11_10'>5</text><path d='M283.5,698.5l0,-9m34,9l0,-9m33,9l0,-9m34,9l0,-9m33,9l0,-9' class='g3_10' /><text x='381' y='709' dx='0' class='s11_10'>4</text><text x='347' y='709' dx='0' class='s11_10'>3</text><text x='314' y='709' dx='0' class='s11_10'>2</text><text x='280' y='709' dx='0' class='s11_10'>1</text><text x='240' y='706' dx='0' class='s11_10'>0</text><path d='M417.9,694c-8.7,-17.2,-19.2,-31.9,-33.6,-31.9c-34.8,0,-45.9,84.7,-67.3,84.7c-24.4,0,-59.9,-139.3,-67,-139.3' class='g5_10' /><text x='254' y='671' dx='0,0' class='s12_10'>12</text><text x='310' y='730' dx='0,0' class='s12_10'>16</text><text x='378' y='680' dx='0,0' class='s12_10'>10</text><text x='169' y='815' dx='0,-0.1,-0.1' class='s5_10'>a.</text><text x='187' y='815' dx='0,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1' class='s2_10'>On what intervals is the object moving in the positive direction?</text><text x='169' y='832' dx='0,0,0' class='s5_10'>b.</text><text x='187' y='832' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>What is the displacement of the object over the interval</text><text x='495' y='832' dx='0' class='s7_10'>3</text><text x='501' y='832' dx='0,0' class='s2_10'>0,</text><text x='514' y='832' dx='0' class='s2_10'>3</text><text x='521' y='832' dx='0' class='s7_10'>4</text><text x='527' y='832' dx='0' class='s2_10'>?</text><text x='169' y='849' dx='0,0,0' class='s5_10'>c.</text><text x='187' y='849' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>What is the total distance traveled by the object over the</text><text x='187' y='865' dx='0,0,0,0,0,0,0,0,0' class='s2_10'>interval</text><text x='233' y='865' dx='0' class='s7_10'>3</text><text x='238' y='865' dx='0,0' class='s2_10'>1,</text><text x='252' y='865' dx='0' class='s2_10'>5</text><text x='259' y='865' dx='0' class='s7_10'>4</text><text x='264' y='865' dx='0' class='s2_10'>?</text><text x='169' y='882' dx='0,0,0' class='s5_10'>d.</text><text x='187' y='882' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>What is the displacement of the object over the interval</text><text x='495' y='882' dx='0' class='s7_10'>3</text><text x='501' y='882' dx='0,0' class='s2_10'>0,</text><text x='514' y='882' dx='0' class='s2_10'>5</text><text x='521' y='882' dx='0' class='s7_10'>4</text><text x='527' y='882' dx='0' class='s2_10'>?</text><text x='169' y='899' dx='0,0,0' class='s5_10'>e.</text><text x='187' y='899' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>Describe the position of the object relative to its initial position</text><text x='187' y='916' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>after 5 hours.</text><text x='142' y='942' dx='0,0,0' class='s5_10'>8.</text><text x='169' y='942' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s5_10'>Displacement and distance from velocity</text><text x='410' y='942' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>Consider the velocity</text><text x='169' y='959' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>function shown below of an object moving along a line. Assume</text><text x='169' y='975' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>time is measured in seconds and distance is measured in meters.</text><text x='169' y='992' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>The areas of four regions bounded by the velocity curve and the</text><text x='169' y='1009' dx='0' class='s6_10'>t</text><text x='173' y='1009' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>-axis are also given.</text><path d='M361.8,1154.8c8.9,0,14.7,-26.4,22.6,-48.6l-45,0c6.2,25.6,13.2,48.6,22.4,48.6Z' class='g2_10' /><path d='M271.7,1211.9c7.9,0,14.3,-56.9,22.5,-105.7l-45,0c0,0,10.8,105.7,22.5,105.7Z' class='g2_10' /><path d='M316.8,1037.4c-9.4,0,-16.5,32.1,-22.6,68.8l45.2,0c-7.9,-32.3,-14.5,-68.8,-22.6,-68.8Z' class='g1_10' /><path d='M406.9,1075.9c-10,0,-16.8,14,-22.5,30.3l45.1,0c-5.8,-16.3,-12.6,-30.3,-22.6,-30.3Z' class='g1_10' /><g clip-path='url(#c1_10)'><path d='M224.5,1106.5l220,0' class='g3_10' /></g><path d='M444.7,1106.2l-1.7,-2.8l0.1,0l4.5,1.8c1.6,0.3,3.2,0.6,4.7,1c-1.5,0.3,-3.1,0.7,-4.7,1l-4.5,1.8l-0.1,0Z' class='g4_10' /><text x='445' y='1118' dx='0' class='s13_10'>t</text><path d='M249.5,1226.5l0,-198' class='g3_10' /><path d='M249.2,1028.9l-2.8,1.7l0,-0.1l1.7,-4.5c0.4,-1.6,0.7,-3.1,1.1,-4.7c0.3,1.6,0.7,3.1,1,4.7l1.8,4.5l-0.1,0.1Z' class='g4_10' /><text x='238' y='1027' dx='0' class='s13_10'>v</text><text x='426' y='1121' dx='0' class='s14_10'>8</text><path d='M271.5,1110.5l0,-9m23,9l0,-9m22,9l0,-9m23,9l0,-9m22,9l0,-9m23,9l0,-9m22,9l0,-9m23,9l0,-9' class='g3_10' /><text x='404' y='1121' dx='0' class='s14_10'>7</text><text x='381' y='1121' dx='0' class='s14_10'>6</text><text x='359' y='1121' dx='0' class='s14_10'>5</text><text x='336' y='1121' dx='0' class='s14_10'>4</text><text x='314' y='1121' dx='0' class='s14_10'>3</text><text x='291' y='1121' dx='0' class='s14_10'>2</text><text x='269' y='1121' dx='0' class='s14_10'>1</text><text x='239' y='1118' dx='0' class='s14_10'>0</text><path d='M452,1154.8c-15.4,0,-21.5,-78.9,-45.1,-78.9c-23.6,0,-29.7,78.9,-45.1,78.9c-20.8,0,-30.4,-117.4,-45,-117.4c-21.9,0,-31.3,174.5,-45.1,174.5c-11.7,0,-22.5,-105.7,-22.5,-105.7' class='g5_10' /><text x='355' y='1139' dx='0,0' class='s15_10'>10</text><text x='403' y='1093' dx='0' class='s15_10'>6</text><text x='265' y='1157' dx='0,0' class='s15_10'>20</text><text x='310' y='1078' dx='0,0' class='s15_10'>14</text><text x='582' y='182' dx='0,-0.1,-0.1' class='s5_10'>a.</text><text x='600' y='182' dx='0,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1' class='s2_10'>On what intervals is the object moving in the negative direction?</text><text x='582' y='199' dx='0,0,0' class='s5_10'>b.</text><text x='600' y='199' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>What is the displacement of the object over the interval</text><text x='908' y='199' dx='0' class='s7_10'>3</text><text x='913' y='199' dx='0,0' class='s2_10'>2,</text><text x='927' y='199' dx='0' class='s2_10'>6</text><text x='934' y='199' dx='0' class='s7_10'>4</text><text x='939' y='199' dx='0' class='s2_10'>?</text><text x='582' y='216' dx='0,0,0' class='s5_10'>c.</text><text x='600' y='216' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>How far does the object travel over the interval</text><text x='863' y='216' dx='0' class='s7_10'>3</text><text x='869' y='216' dx='0,0' class='s2_10'>0,</text><text x='882' y='216' dx='0' class='s2_10'>6</text><text x='889' y='216' dx='0' class='s7_10'>4</text><text x='894' y='216' dx='0' class='s2_10'>?</text><text x='582' y='232' dx='0,0,0' class='s5_10'>d.</text><text x='600' y='232' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>What is the displacement of the object over the interval</text><text x='908' y='232' dx='0' class='s7_10'>3</text><text x='913' y='232' dx='0,0' class='s2_10'>0,</text><text x='927' y='232' dx='0' class='s2_10'>8</text><text x='934' y='232' dx='0' class='s7_10'>4</text><text x='939' y='232' dx='0' class='s2_10'>?</text><text x='582' y='249' dx='0,0,0' class='s5_10'>e.</text><text x='600' y='249' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>Describe the position of the object relative to its initial position</text><text x='600' y='266' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>after 8 hours.</text><text x='554' y='292' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s5_10'>9–14. Displacement from velocity</text><text x='752' y='292' dx='0,0,0,0,0,0,0,0.1,0.3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>Assume t is time measured in sec-</text><text x='554' y='309' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.2' class='s6_10'>onds and velocities have units of m</text><text x='748' y='309' dx='0' class='s7_10'>&gt;</text><text x='754' y='309' dx='0' class='s6_10'>s</text><text x='760' y='309' dx='0' class='s2_10'>.</text><text x='554' y='330' dx='0,0,0' class='s16_10'>a.</text><text x='572' y='330' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>Graph the velocity function over the given interval. Then determine</text><text x='572' y='347' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>when the motion is in the positive direction and when it is in the</text><text x='572' y='364' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>negative direction.</text><text x='554' y='381' dx='0,0,0' class='s16_10'>b.</text><text x='572' y='381' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>Find the displacement over the given interval.</text><text x='554' y='397' dx='0,0,0' class='s16_10'>c.</text><text x='572' y='397' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>Find the distance traveled over the given interval.</text><text x='554' y='423' dx='0,0,0' class='s5_10'>9.</text><text x='582' y='423' dx='0' class='s6_10'>v</text><text x='588' y='423' dx='0' class='s7_10'>1</text><text x='594' y='423' dx='0' class='s6_10'>t</text><text x='598' y='423' dx='0' class='s7_10'>2</text><text x='610' y='423' dx='0' class='s9_10'>=</text><text x='625' y='423' dx='0' class='s2_10'>6</text><text x='638' y='423' dx='0' class='s8_10'>-</text><text x='653' y='423' dx='0' class='s2_10'>2</text><text x='659' y='423' dx='0' class='s6_10'>t</text><text x='667' y='423' dx='0,0,0,0' class='s2_10'>on 0</text><text x='697' y='423' dx='0' class='s8_10'>…</text><text x='712' y='423' dx='0' class='s6_10'>t</text><text x='722' y='423' dx='0' class='s8_10'>…</text><text x='737' y='423' dx='0' class='s2_10'>6</text><text x='554' y='449' dx='0,0,0,0' class='s5_10'>10.</text><text x='582' y='449' dx='0' class='s6_10'>v</text><text x='588' y='449' dx='0' class='s7_10'>1</text><text x='594' y='449' dx='0' class='s6_10'>t</text><text x='598' y='449' dx='0' class='s7_10'>2</text><text x='610' y='449' dx='0' class='s9_10'>=</text><text x='625' y='449' dx='0,0' class='s2_10'>10</text><text x='642' y='449' dx='0,0,0' class='s2_10'>sin</text><text x='661' y='449' dx='0' class='s2_10'>2</text><text x='668' y='449' dx='0' class='s6_10'>t</text><text x='675' y='449' dx='0,0,0,0' class='s2_10'>on 0</text><text x='705' y='449' dx='0' class='s8_10'>…</text><text x='721' y='449' dx='0' class='s6_10'>t</text><text x='731' y='449' dx='0' class='s8_10'>…</text><text x='746' y='449' dx='0' class='s2_10'>2</text><text x='753' y='449' dx='0' class='s17_10'>p</text><text x='554' y='475' dx='0,0,0,0' class='s5_10'>11.</text><text x='582' y='475' dx='0' class='s6_10'>v</text><text x='588' y='475' dx='0' class='s7_10'>1</text><text x='594' y='475' dx='0' class='s6_10'>t</text><text x='598' y='475' dx='0' class='s7_10'>2</text><text x='610' y='475' dx='0' class='s9_10'>=</text><text x='625' y='475' dx='0' class='s6_10'>t</text><text x='630' y='470' dx='0' class='s18_10'>2</text><text x='641' y='475' dx='0' class='s8_10'>-</text><text x='655' y='475' dx='0' class='s2_10'>6</text><text x='662' y='475' dx='0' class='s6_10'>t</text><text x='672' y='475' dx='0' class='s8_10'>+</text><text x='686' y='475' dx='0,0,0,0,0,0' class='s2_10'>8 on 0</text><text x='727' y='475' dx='0' class='s8_10'>…</text><text x='742' y='475' dx='0' class='s6_10'>t</text><text x='752' y='475' dx='0' class='s8_10'>…</text><text x='767' y='475' dx='0' class='s2_10'>5</text><text x='554' y='501' dx='0,0,0,0' class='s5_10'>12.</text><text x='582' y='501' dx='0' class='s6_10'>v</text><text x='588' y='501' dx='0' class='s7_10'>1</text><text x='594' y='501' dx='0' class='s6_10'>t</text><text x='598' y='501' dx='0' class='s7_10'>2</text><text x='610' y='501' dx='0' class='s9_10'>=</text><text x='627' y='501' dx='0' class='s8_10'>-</text><text x='636' y='501' dx='0' class='s6_10'>t</text><text x='641' y='496' dx='0' class='s18_10'>2</text><text x='652' y='501' dx='0' class='s8_10'>+</text><text x='666' y='501' dx='0' class='s2_10'>5</text><text x='673' y='501' dx='0' class='s6_10'>t</text><text x='683' y='501' dx='0' class='s8_10'>-</text><text x='697' y='501' dx='0,0,0,0,0,0' class='s2_10'>4 on 0</text><text x='738' y='501' dx='0' class='s8_10'>…</text><text x='753' y='501' dx='0' class='s6_10'>t</text><text x='763' y='501' dx='0' class='s8_10'>…</text><text x='778' y='501' dx='0' class='s2_10'>5</text><text x='554' y='527' dx='0,0,0,0' class='s5_10'>13.</text><text x='582' y='527' dx='0' class='s6_10'>v</text><text x='588' y='527' dx='0' class='s7_10'>1</text><text x='594' y='527' dx='0' class='s6_10'>t</text><text x='598' y='527' dx='0' class='s7_10'>2</text><text x='610' y='527' dx='0' class='s9_10'>=</text><text x='625' y='527' dx='0' class='s6_10'>t</text><text x='630' y='522' dx='0' class='s18_10'>3</text><text x='641' y='527' dx='0' class='s8_10'>-</text><text x='655' y='527' dx='0' class='s2_10'>5</text><text x='662' y='527' dx='0' class='s6_10'>t</text><text x='667' y='522' dx='0' class='s18_10'>2</text><text x='678' y='527' dx='0' class='s8_10'>+</text><text x='692' y='527' dx='0' class='s2_10'>6</text><text x='699' y='527' dx='0' class='s6_10'>t</text><text x='706' y='527' dx='0,0,0,0' class='s2_10'>on 0</text><text x='736' y='527' dx='0' class='s8_10'>…</text><text x='752' y='527' dx='0' class='s6_10'>t</text><text x='762' y='527' dx='0' class='s8_10'>…</text><text x='777' y='527' dx='0' class='s2_10'>5</text><text x='554' y='553' dx='0,0,0,0' class='s5_10'>14.</text><text x='582' y='553' dx='0' class='s6_10'>v</text><text x='588' y='553' dx='0' class='s7_10'>1</text><text x='594' y='553' dx='0' class='s6_10'>t</text><text x='598' y='553' dx='0' class='s7_10'>2</text><text x='610' y='553' dx='0' class='s9_10'>=</text><text x='625' y='553' dx='0,0' class='s2_10'>50</text><text x='639' y='553' dx='0' class='s6_10'>e</text><text x='646' y='548' dx='0' class='s19_10'>-</text><text x='652' y='548' dx='0' class='s18_10'>2</text><text x='657' y='548' dx='0' class='s20_10'>t</text><text x='663' y='553' dx='0,0,0,0' class='s2_10'>on 0</text><text x='693' y='553' dx='0' class='s8_10'>…</text><text x='708' y='553' dx='0' class='s6_10'>t</text><text x='718' y='553' dx='0' class='s8_10'>…</text><text x='734' y='553' dx='0' class='s2_10'>4</text><text x='554' y='579' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s5_10'>15–20. Position from velocity</text><text x='727' y='579' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>Consider an object moving along a line</text><text x='554' y='596' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>with the following velocities and initial positions.</text><text x='554' y='617' dx='0,0,0' class='s16_10'>a.</text><text x='572' y='617' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>Graph the velocity function on the given interval and determine</text><text x='572' y='634' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>when the object is moving in the positive direction and when it is</text><text x='572' y='651' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>moving in the negative direction.</text><text x='554' y='668' dx='0,0,0' class='s16_10'>b.</text><text x='572' y='668' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.2' class='s6_10'>Determine the position function, for t</text><text x='783' y='668' dx='0' class='s8_10'>Ú</text><text x='799' y='668' dx='0,0' class='s2_10'>0,</text><text x='813' y='668' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>using both the</text><text x='572' y='685' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>antiderivative method and the Fundamental Theorem of Calculus</text><text x='572' y='701' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>(Theorem 6.1). Check for agreement between the two methods.</text><text x='554' y='718' dx='0,0,0' class='s16_10'>c.</text><text x='572' y='718' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s6_10'>Graph the position function on the given interval.</text><text x='554' y='744' dx='0,0,0,0' class='s5_10'>15.</text><text x='582' y='744' dx='0' class='s6_10'>v</text><text x='588' y='744' dx='0' class='s7_10'>1</text><text x='594' y='744' dx='0' class='s6_10'>t</text><text x='598' y='744' dx='0' class='s7_10'>2</text><text x='610' y='744' dx='0' class='s9_10'>=</text><text x='625' y='744' dx='0,0,0' class='s2_10'>sin</text><text x='644' y='744' dx='0' class='s6_10'>t</text><text x='651' y='744' dx='0,0' class='s2_10'>on</text><text x='668' y='744' dx='0' class='s7_10'>3</text><text x='674' y='744' dx='0,0' class='s2_10'>0,</text><text x='687' y='744' dx='0' class='s2_10'>2</text><text x='694' y='744' dx='0' class='s17_10'>p</text><text x='703' y='744' dx='0' class='s7_10'>4</text><text x='709' y='744' dx='0' class='s2_10'>;</text><text x='719' y='744' dx='0' class='s6_10'>s</text><text x='725' y='744' dx='0' class='s7_10'>1</text><text x='731' y='744' dx='0' class='s2_10'>0</text><text x='738' y='744' dx='0' class='s7_10'>2</text><text x='750' y='744' dx='0' class='s9_10'>=</text><text x='765' y='744' dx='0' class='s2_10'>1</text><text x='554' y='770' dx='0,0,0,0' class='s5_10'>16.</text><text x='582' y='770' dx='0' class='s6_10'>v</text><text x='588' y='770' dx='0' class='s7_10'>1</text><text x='594' y='770' dx='0' class='s6_10'>t</text><text x='598' y='770' dx='0' class='s7_10'>2</text><text x='610' y='770' dx='0' class='s9_10'>=</text><text x='627' y='770' dx='0' class='s8_10'>-</text><text x='636' y='770' dx='0' class='s6_10'>t</text><text x='641' y='765' dx='0' class='s18_10'>3</text><text x='652' y='770' dx='0' class='s8_10'>+</text><text x='666' y='770' dx='0' class='s2_10'>3</text><text x='673' y='770' dx='0' class='s6_10'>t</text><text x='678' y='765' dx='0' class='s18_10'>2</text><text x='689' y='770' dx='0' class='s8_10'>-</text><text x='703' y='770' dx='0' class='s2_10'>2</text><text x='710' y='770' dx='0' class='s6_10'>t</text><text x='717' y='770' dx='0,0' class='s2_10'>on</text><text x='733' y='770' dx='0' class='s7_10'>3</text><text x='739' y='770' dx='0,0' class='s2_10'>0,</text><text x='752' y='770' dx='0' class='s2_10'>3</text><text x='759' y='770' dx='0' class='s7_10'>4</text><text x='765' y='770' dx='0' class='s2_10'>;</text><text x='775' y='770' dx='0' class='s6_10'>s</text><text x='781' y='770' dx='0' class='s7_10'>1</text><text x='787' y='770' dx='0' class='s2_10'>0</text><text x='794' y='770' dx='0' class='s7_10'>2</text><text x='806' y='770' dx='0' class='s9_10'>=</text><text x='821' y='770' dx='0' class='s2_10'>4</text><text x='554' y='796' dx='0,0,0,0' class='s5_10'>17.</text><text x='582' y='796' dx='0' class='s6_10'>v</text><text x='588' y='796' dx='0' class='s7_10'>1</text><text x='594' y='796' dx='0' class='s6_10'>t</text><text x='598' y='796' dx='0' class='s7_10'>2</text><text x='610' y='796' dx='0' class='s9_10'>=</text><text x='625' y='796' dx='0' class='s2_10'>6</text><text x='638' y='796' dx='0' class='s8_10'>-</text><text x='653' y='796' dx='0' class='s2_10'>2</text><text x='659' y='796' dx='0' class='s6_10'>t</text><text x='666' y='796' dx='0,0' class='s2_10'>on</text><text x='683' y='796' dx='0' class='s7_10'>3</text><text x='689' y='796' dx='0,0' class='s2_10'>0,</text><text x='702' y='796' dx='0' class='s2_10'>5</text><text x='709' y='796' dx='0' class='s7_10'>4</text><text x='714' y='796' dx='0' class='s2_10'>;</text><text x='725' y='796' dx='0' class='s6_10'>s</text><text x='730' y='796' dx='0' class='s7_10'>1</text><text x='736' y='796' dx='0' class='s2_10'>0</text><text x='743' y='796' dx='0' class='s7_10'>2</text><text x='755' y='796' dx='0' class='s9_10'>=</text><text x='771' y='796' dx='0' class='s2_10'>0</text><text x='554' y='822' dx='0,0,0,0' class='s5_10'>18.</text><text x='582' y='822' dx='0' class='s6_10'>v</text><text x='588' y='822' dx='0' class='s7_10'>1</text><text x='594' y='822' dx='0' class='s6_10'>t</text><text x='598' y='822' dx='0' class='s7_10'>2</text><text x='610' y='822' dx='0' class='s9_10'>=</text><text x='625' y='822' dx='0' class='s2_10'>3</text><text x='635' y='822' dx='0,0,0' class='s2_10'>sin</text><text x='654' y='822' dx='0' class='s17_10'>p</text><text x='664' y='822' dx='0' class='s6_10'>t</text><text x='671' y='822' dx='0,0' class='s2_10'>on</text><text x='688' y='822' dx='0' class='s7_10'>3</text><text x='693' y='822' dx='0,0' class='s2_10'>0,</text><text x='707' y='822' dx='0' class='s2_10'>4</text><text x='713' y='822' dx='0' class='s7_10'>4</text><text x='719' y='822' dx='0' class='s2_10'>;</text><text x='729' y='822' dx='0' class='s6_10'>s</text><text x='735' y='822' dx='0' class='s7_10'>1</text><text x='741' y='822' dx='0' class='s2_10'>0</text><text x='748' y='822' dx='0' class='s7_10'>2</text><text x='760' y='822' dx='0' class='s9_10'>=</text><text x='775' y='822' dx='0' class='s2_10'>1</text><text x='554' y='848' dx='0,0,0,0' class='s5_10'>19.</text><text x='582' y='848' dx='0' class='s6_10'>v</text><text x='588' y='848' dx='0' class='s7_10'>1</text><text x='594' y='848' dx='0' class='s6_10'>t</text><text x='598' y='848' dx='0' class='s7_10'>2</text><text x='610' y='848' dx='0' class='s9_10'>=</text><text x='625' y='848' dx='0' class='s2_10'>9</text><text x='638' y='848' dx='0' class='s8_10'>-</text><text x='653' y='848' dx='0' class='s6_10'>t</text><text x='657' y='843' dx='0' class='s18_10'>2</text><text x='665' y='848' dx='0,0' class='s2_10'>on</text><text x='682' y='848' dx='0' class='s7_10'>3</text><text x='687' y='848' dx='0,0' class='s2_10'>0,</text><text x='701' y='848' dx='0' class='s2_10'>4</text><text x='708' y='848' dx='0' class='s7_10'>4</text><text x='713' y='848' dx='0' class='s2_10'>;</text><text x='724' y='848' dx='0' class='s6_10'>s</text><text x='729' y='848' dx='0' class='s7_10'>1</text><text x='735' y='848' dx='0' class='s2_10'>0</text><text x='742' y='848' dx='0' class='s7_10'>2</text><text x='754' y='848' dx='0' class='s9_10'>=</text><text x='771' y='848' dx='0' class='s8_10'>-</text><text x='780' y='848' dx='0' class='s2_10'>2</text><text x='554' y='874' dx='0,0,0,0' class='s5_10'>20.</text><text x='582' y='874' dx='0' class='s6_10'>v</text><text x='588' y='874' dx='0' class='s7_10'>1</text><text x='594' y='874' dx='0' class='s6_10'>t</text><text x='598' y='874' dx='0' class='s7_10'>2</text><text x='610' y='874' dx='0' class='s9_10'>=</text><text x='625' y='874' dx='0' class='s2_10'>1</text><text x='633' y='874' dx='0,1.1' class='s7_10'>&gt;1</text><text x='646' y='874' dx='0' class='s6_10'>t</text><text x='656' y='874' dx='0' class='s8_10'>+</text><text x='670' y='874' dx='0' class='s2_10'>1</text><text x='677' y='874' dx='0' class='s7_10'>2</text><text x='686' y='874' dx='0,0' class='s2_10'>on</text><text x='703' y='874' dx='0' class='s7_10'>3</text><text x='708' y='874' dx='0,0' class='s2_10'>0,</text><text x='722' y='874' dx='0' class='s2_10'>8</text><text x='728' y='874' dx='0' class='s7_10'>4</text><text x='734' y='874' dx='0' class='s2_10'>;</text><text x='744' y='874' dx='0' class='s6_10'>s</text><text x='750' y='874' dx='0' class='s7_10'>1</text><text x='756' y='874' dx='0' class='s2_10'>0</text><text x='763' y='874' dx='0' class='s7_10'>2</text><text x='775' y='874' dx='0' class='s9_10'>=</text><text x='792' y='874' dx='0' class='s8_10'>-</text><text x='801' y='874' dx='0' class='s2_10'>4</text><text x='554' y='900' dx='0,0,0,0,6.9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s5_10'>21. Oscillating motion</text><text x='693' y='900' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>A mass hanging from a spring is set in</text><text x='582' y='917' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>motion, and its ensuing velocity is given by</text><text x='825' y='917' dx='0' class='s6_10'>v</text><text x='831' y='917' dx='0' class='s7_10'>1</text><text x='837' y='917' dx='0' class='s6_10'>t</text><text x='841' y='917' dx='0' class='s7_10'>2</text><text x='853' y='917' dx='0' class='s9_10'>=</text><text x='869' y='917' dx='0' class='s2_10'>2</text><text x='875' y='917' dx='0' class='s17_10'>p</text><text x='888' y='917' dx='0,0,0' class='s2_10'>cos</text><text x='909' y='917' dx='0' class='s17_10'>p</text><text x='919' y='917' dx='0' class='s6_10'>t</text><text x='923' y='917' dx='0' class='s2_10'>,</text><text x='582' y='934' dx='0,0,0,0' class='s2_10'>for</text><text x='601' y='934' dx='0' class='s6_10'>t</text><text x='611' y='934' dx='0' class='s8_10'>Ú</text><text x='626' y='934' dx='0,0,0.1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>0. Assume that the positive direction is upward and that</text><text x='582' y='950' dx='0' class='s6_10'>s</text><text x='587' y='950' dx='0' class='s7_10'>1</text><text x='593' y='950' dx='0' class='s2_10'>0</text><text x='600' y='950' dx='0' class='s7_10'>2</text><text x='612' y='950' dx='0' class='s9_10'>=</text><text x='628' y='950' dx='0,0' class='s2_10'>0.</text><text x='582' y='972' dx='0,0,0' class='s5_10'>a.</text><text x='600' y='972' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>Determine the position function, for</text><text x='802' y='972' dx='0' class='s6_10'>t</text><text x='812' y='972' dx='0' class='s8_10'>Ú</text><text x='827' y='972' dx='0,0' class='s2_10'>0.</text><text x='582' y='989' dx='0,0,0' class='s5_10'>b.</text><text x='600' y='989' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>Graph the position function on the interval</text><text x='838' y='989' dx='0' class='s7_10'>3</text><text x='843' y='989' dx='0,0,0,0' class='s2_10'>0, 4</text><text x='864' y='989' dx='0' class='s7_10'>4</text><text x='870' y='989' dx='0' class='s2_10'>.</text><text x='582' y='1005' dx='0,0,0' class='s5_10'>c.</text><text x='600' y='1005' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>At what times does the mass reach its low point the first three</text><text x='600' y='1022' dx='0,0,0,0,0,0' class='s2_10'>times?</text><text x='582' y='1039' dx='0,0,0' class='s5_10'>d.</text><text x='600' y='1039' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>At what times does the mass reach its high point the first three</text><text x='600' y='1056' dx='0,0,0,0,0,0' class='s2_10'>times?</text><text x='554' y='1082' dx='0,0,0,0,6.9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s5_10'>22. Cycling distance</text><text x='682' y='1082' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>A cyclist rides down a long straight road at a</text><text x='582' y='1099' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>velocity (in m</text><text x='660' y='1099' dx='0' class='s7_10'>&gt;</text><text x='667' y='1099' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>min) given by</text><text x='747' y='1099' dx='0' class='s6_10'>v</text><text x='753' y='1099' dx='0' class='s7_10'>1</text><text x='759' y='1099' dx='0' class='s6_10'>t</text><text x='763' y='1099' dx='0' class='s7_10'>2</text><text x='775' y='1099' dx='0' class='s9_10'>=</text><text x='791' y='1099' dx='0,0,0' class='s2_10'>400</text><text x='817' y='1099' dx='0' class='s8_10'>-</text><text x='832' y='1099' dx='0,0' class='s2_10'>20</text><text x='845' y='1099' dx='0' class='s6_10'>t</text><text x='850' y='1099' dx='0,0,0,0,0,0,0.2' class='s2_10'>, for 0</text><text x='889' y='1099' dx='0' class='s8_10'>…</text><text x='904' y='1099' dx='0' class='s6_10'>t</text><text x='914' y='1099' dx='0' class='s8_10'>…</text><text x='930' y='1099' dx='0,0,0.1,0' class='s2_10'>10,</text><text x='582' y='1115' dx='0,0,0,0,0,0' class='s2_10'>where</text><text x='619' y='1115' dx='0' class='s6_10'>t</text><text x='626' y='1115' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>is measured in minutes.</text><text x='582' y='1137' dx='0,0,0' class='s5_10'>a.</text><text x='600' y='1137' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>How far does the cyclist travel in the first 5 min?</text><text x='582' y='1154' dx='0,0,0' class='s5_10'>b.</text><text x='600' y='1154' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>How far does the cyclist travel in the first 10 min?</text><text x='582' y='1170' dx='0,0,0' class='s5_10'>c.</text><text x='600' y='1170' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s2_10'>How far has the cyclist traveled when her velocity is</text><text x='600' y='1187' dx='0,0,0,0,0' class='s2_10'>250 m</text><text x='636' y='1187' dx='0' class='s7_10'>&gt;</text><text x='642' y='1187' dx='0,0,0,0' class='s2_10'>min?</text><path d='M540,293l11,0l0,-11l-11,0l0,11Z' class='g6_10' /><text x='542' y='291' dx='0' class='s21_10'>T</text><path d='M540,580l11,0l0,-10l-11,0l0,10Z' class='g6_10' /><text x='542' y='578' dx='0' class='s21_10'>T</text><path d='M540,901l11,0l0,-10l-11,0l0,10Z' class='g6_10' /><text x='542' y='899' dx='0' class='s21_10'>T</text><path d='M22,59L0,59m1031,0l23,0M22,1255l-22,0m1031,0l23,0M59,22L59,0m0,1292l0,23M994,22L994,0m0,1292l0,23' class='g7_10' /><path d='M22.5,59.5l-22,0m1031,0l23,0m-1032,1196l-22,0m1031,0l23,0M59.5,22.5l0,-22m0,1292l0,23m935,-1293l0,-22m0,1292l0,23' class='g8_10' /><path d='M534.7,11.5c0,4.2,-3.4,7.6,-7.6,7.6c-4.2,0,-7.7,-3.4,-7.7,-7.6c0,-4.3,3.5,-7.7,7.7,-7.7c4.2,0,7.6,3.4,7.6,7.7Z' class='g7_10' /><path d='M517,11l19,0' class='g7_10' /><path d='M527,2l0,18' class='g7_10' /><path d='M531.7,11.5c0,2.5,-2.1,4.5,-4.6,4.5c-2.5,0,-4.6,-2,-4.6,-4.5c0,-2.6,2.1,-4.6,4.6,-4.6c2.5,0,4.6,2,4.6,4.6Z' class='g7_10' /><path d='M534.7,11.5c0,4.2,-3.4,7.6,-7.6,7.6c-4.2,0,-7.7,-3.4,-7.7,-7.6c0,-4.3,3.5,-7.7,7.7,-7.7c4.2,0,7.6,3.4,7.6,7.7Z' class='g8_10' /><path d='M517.5,11.5l19,0' class='g8_10' /><path d='M527.5,2.5l0,18' class='g8_10' /><path d='M531.7,11.5c0,2.5,-2.1,4.5,-4.6,4.5c-2.5,0,-4.6,-2,-4.6,-4.5c0,-2.6,2.1,-4.6,4.6,-4.6c2.5,0,4.6,2,4.6,4.6Z' class='g9_10' /><path d='M522.5,11.5l9,0' class='g10_10' /><path d='M527.5,6.5l0,10' class='g10_10' /><path d='M534.7,1304c0,4.2,-3.4,7.6,-7.6,7.6c-4.2,0,-7.7,-3.4,-7.7,-7.6c0,-4.3,3.5,-7.7,7.7,-7.7c4.2,0,7.6,3.4,7.6,7.7Z' class='g7_10' /><path d='M517,1303l19,0' class='g7_10' /><path d='M527,1294l0,19' class='g7_10' /><path d='M531.7,1304c0,2.5,-2.1,4.5,-4.6,4.5c-2.5,0,-4.6,-2,-4.6,-4.5c0,-2.6,2.1,-4.6,4.6,-4.6c2.5,0,4.6,2,4.6,4.6Z' class='g7_10' /><path d='M534.7,1304c0,4.2,-3.4,7.6,-7.6,7.6c-4.2,0,-7.7,-3.4,-7.7,-7.6c0,-4.3,3.5,-7.7,7.7,-7.7c4.2,0,7.6,3.4,7.6,7.7Z' class='g8_10' /><path d='M517.5,1303.5l19,0' class='g8_10' /><path d='M527.5,1294.5l0,19' class='g8_10' /><path d='M531.7,1304c0,2.5,-2.1,4.5,-4.6,4.5c-2.5,0,-4.6,-2,-4.6,-4.5c0,-2.6,2.1,-4.6,4.6,-4.6c2.5,0,4.6,2,4.6,4.6Z' class='g9_10' /><path d='M522.5,1303.5l9,0' class='g10_10' /><path d='M527.5,1299.5l0,9' class='g10_10' /><path d='M19.1,657.7c0,4.2,-3.4,7.6,-7.6,7.6c-4.3,0,-7.7,-3.4,-7.7,-7.6c0,-4.2,3.4,-7.6,7.7,-7.6c4.2,0,7.6,3.4,7.6,7.6Z' class='g7_10' /><path d='M2,657l18,0' class='g7_10' /><path d='M11,648l0,18' class='g7_10' /><path d='M16,657.7c0,2.5,-2,4.6,-4.5,4.6c-2.6,0,-4.6,-2.1,-4.6,-4.6c0,-2.5,2,-4.6,4.6,-4.6c2.5,0,4.5,2.1,4.5,4.6Z' class='g7_10' /><path d='M19.1,657.7c0,4.2,-3.4,7.6,-7.6,7.6c-4.3,0,-7.7,-3.4,-7.7,-7.6c0,-4.2,3.4,-7.6,7.7,-7.6c4.2,0,7.6,3.4,7.6,7.6Z' class='g8_10' /><path d='M2.5,657.5l18,0' class='g8_10' /><path d='M11.5,648.5l0,18' class='g8_10' /><path d='M16,657.7c0,2.5,-2,4.6,-4.5,4.6c-2.6,0,-4.6,-2.1,-4.6,-4.6c0,-2.5,2,-4.6,4.6,-4.6c2.5,0,4.5,2.1,4.5,4.6Z' class='g9_10' /><path d='M6.5,657.5l10,0' class='g10_10' /><path d='M11.5,653.5l0,9' class='g10_10' /><path d='M1050.3,657.7c0,4.2,-3.4,7.6,-7.6,7.6c-4.2,0,-7.6,-3.4,-7.6,-7.6c0,-4.2,3.4,-7.6,7.6,-7.6c4.2,0,7.6,3.4,7.6,7.6Z' class='g7_10' /><path d='M1033,657l18,0' class='g7_10' /><path d='M1042,648l0,18' class='g7_10' /><path d='M1047.3,657.7c0,2.5,-2.1,4.6,-4.6,4.6c-2.5,0,-4.6,-2.1,-4.6,-4.6c0,-2.5,2.1,-4.6,4.6,-4.6c2.5,0,4.6,2.1,4.6,4.6Z' class='g7_10' /><path d='M1050.3,657.7c0,4.2,-3.4,7.6,-7.6,7.6c-4.2,0,-7.6,-3.4,-7.6,-7.6c0,-4.2,3.4,-7.6,7.6,-7.6c4.2,0,7.6,3.4,7.6,7.6Z' class='g8_10' /><path d='M1033.5,657.5l18,0' class='g8_10' /><path d='M1042.5,648.5l0,18' class='g8_10' /><path d='M1047.3,657.7c0,2.5,-2.1,4.6,-4.6,4.6c-2.5,0,-4.6,-2.1,-4.6,-4.6c0,-2.5,2.1,-4.6,4.6,-4.6c2.5,0,4.6,2.1,4.6,4.6Z' class='g9_10' /><path d='M1038.5,657.5l9,0' class='g10_10' /><path d='M1042.5,653.5l0,9' class='g10_10' /><path d='M75.5,1306.3l0.9,0l0,-3.9c0,-0.2,0,-0.4,0,-0.8c0,-0.3,0,-0.5,0,-0.7l0,-0.2l1.9,5.6l0.8,0l1.9,-5.6c0,0.4,0,0.7,0,1c0,0.3,0,0.5,0,0.7l0,3.9l0.8,0l0,-6.6l-1.2,0l-1.9,5.5l-1.9,-5.5l-1.3,0l0,6.6Z' class='g10_10' /><path d='M85,1299.8c-0.9,0,-1.6,0.5,-1.9,1.5c-0.2,0.5,-0.3,1.1,-0.3,1.9c0,0.9,0.1,1.7,0.5,2.2c0.3,0.7,0.9,1,1.7,1c0.8,0,1.4,-0.4,1.8,-1.2c0.3,-0.6,0.4,-1.3,0.4,-2.2c0,-0.9,-0.1,-1.6,-0.4,-2.1c-0.4,-0.7,-1,-1.1,-1.8,-1.1Zm0,5.9c-0.6,0,-0.9,-0.3,-1.1,-0.9c-0.2,-0.4,-0.2,-0.9,-0.2,-1.6c0,-0.9,0.1,-1.5,0.3,-2c0.2,-0.4,0.5,-0.6,1,-0.6c0.5,0,0.9,0.2,1.1,0.7c0.1,0.4,0.2,1,0.2,1.8c0,1,-0.1,1.7,-0.3,2c-0.3,0.4,-0.6,0.6,-1,0.6Z' class='g10_10' /><path d='M90.3,1299.8c-1,0,-1.7,0.5,-2.1,1.6c-0.2,0.6,-0.3,1.2,-0.3,2c0,1.1,0.3,1.9,0.7,2.3c0.4,0.5,0.9,0.7,1.5,0.7c0.7,0,1.3,-0.2,1.7,-0.7c0.3,-0.4,0.5,-0.9,0.5,-1.5c0,-0.7,-0.2,-1.2,-0.6,-1.5c-0.4,-0.4,-0.8,-0.6,-1.4,-0.6c-0.3,0,-0.6,0.1,-0.8,0.2c-0.3,0.2,-0.5,0.4,-0.7,0.6c0,-0.7,0.1,-1.3,0.4,-1.8c0.3,-0.4,0.6,-0.6,1.1,-0.6c0.4,0,0.7,0.2,0.9,0.4c0.1,0.2,0.2,0.4,0.2,0.6l0.8,0c0,-0.4,-0.1,-0.8,-0.4,-1.1c-0.3,-0.4,-0.8,-0.6,-1.5,-0.6Zm-0.1,5.9c-0.4,0,-0.7,-0.1,-1,-0.4c-0.2,-0.3,-0.3,-0.6,-0.3,-1c0,-0.5,0.1,-0.8,0.4,-1.1c0.2,-0.2,0.5,-0.3,0.9,-0.3c0.5,0,0.8,0.1,1,0.4c0.2,0.3,0.3,0.6,0.3,1c0,0.4,-0.1,0.7,-0.3,1c-0.2,0.3,-0.6,0.4,-1,0.4Z' class='g10_10' /><path d='M97.5,1306.5l-5,0l0,1l5,0l0,-1Z' class='g10_10' /><path d='M99.3,1302.5l0,-2.1l1.6,0c0.4,0,0.7,0.1,0.9,0.1c0.4,0.2,0.6,0.5,0.6,0.9c0,0.4,-0.2,0.7,-0.5,0.9c-0.2,0.1,-0.5,0.2,-0.9,0.2l-1.7,0Zm0,3l0,-2.3l1.8,0c0.4,0,0.7,0,0.9,0.1c0.5,0.2,0.7,0.5,0.7,1c0,0.3,-0.1,0.5,-0.2,0.7c-0.3,0.3,-0.7,0.5,-1.2,0.5l-2,0Zm-0.8,0.7l2.8,0c0.8,0,1.5,-0.2,1.9,-0.7c0.2,-0.4,0.4,-0.7,0.4,-1.2c0,-0.5,-0.2,-0.9,-0.5,-1.2c-0.1,-0.1,-0.4,-0.3,-0.7,-0.4c0.2,-0.1,0.4,-0.2,0.5,-0.4c0.2,-0.2,0.4,-0.6,0.4,-1c0,-0.4,-0.1,-0.7,-0.3,-0.9c-0.4,-0.5,-0.9,-0.7,-1.7,-0.7l-2.8,0l0,6.5Z' class='g10_10' /><path d='M105.6,1302.7l0,-2.3l2.1,0c0.3,0,0.5,0.1,0.7,0.2c0.4,0.1,0.5,0.5,0.5,0.9c0,0.5,-0.1,0.8,-0.3,0.9c-0.3,0.2,-0.6,0.3,-1,0.3l-2,0Zm-0.9,3.6l0.9,0l0,-2.9l2,0c0.3,0,0.6,0.1,0.8,0.2c0.2,0.1,0.4,0.4,0.4,0.8l0.1,1.1c0,0.3,0,0.4,0,0.5c0,0.1,0.1,0.2,0.1,0.3l1.1,0l0,-0.2c-0.2,-0.1,-0.3,-0.2,-0.3,-0.4c0,-0.1,-0.1,-0.3,-0.1,-0.6l0,-0.8c0,-0.4,-0.1,-0.7,-0.2,-0.9c-0.1,-0.1,-0.3,-0.3,-0.6,-0.4c0.3,-0.1,0.5,-0.3,0.7,-0.6c0.1,-0.2,0.2,-0.6,0.2,-1c0,-0.7,-0.3,-1.2,-0.9,-1.5c-0.3,-0.2,-0.7,-0.2,-1.2,-0.2l-3,0l0,6.6Z' class='g10_10' /><path d='M111.5,1306.5l1,0l0,-7l-1,0l0,7Z' class='g10_10' /><path d='M116.6,1299.5c-0.9,0,-1.6,0.3,-2.2,0.9c-0.6,0.7,-0.9,1.6,-0.9,2.7c0,1.1,0.3,1.9,0.9,2.6c0.6,0.5,1.2,0.7,2,0.7c0.6,0,1.1,-0.1,1.5,-0.3c0.2,-0.1,0.5,-0.4,0.7,-0.7l0.3,0.9l0.5,0l0,-3.6l-2.9,0l0,0.8l2.1,0c0,0.7,-0.2,1.3,-0.6,1.6c-0.4,0.4,-0.8,0.6,-1.4,0.6c-0.8,0,-1.3,-0.3,-1.7,-0.8c-0.3,-0.5,-0.5,-1.1,-0.5,-1.9c0,-0.9,0.2,-1.6,0.6,-2c0.4,-0.5,0.9,-0.7,1.5,-0.7c0.5,0,1,0.1,1.3,0.3c0.3,0.2,0.5,0.6,0.6,1.1l0.9,0c-0.1,-0.9,-0.5,-1.5,-1.2,-1.8c-0.4,-0.3,-0.9,-0.4,-1.5,-0.4Z' class='g10_10' /><path d='M120.5,1299.9l0,0.9l3.6,0c-0.5,0.5,-0.9,1.1,-1.3,1.8c-0.7,1.2,-1.1,2.4,-1.3,3.7l0.8,0c0.2,-0.7,0.3,-1.2,0.4,-1.5c0.1,-0.4,0.3,-0.9,0.6,-1.5c0.2,-0.6,0.5,-1.1,0.9,-1.6c0.3,-0.5,0.6,-0.8,0.8,-1l0,-0.8l-4.5,0Z' class='g10_10' /><path d='M127.7,1306.4c0.7,0,1.3,-0.2,1.7,-0.6c0.4,-0.3,0.6,-0.8,0.6,-1.4c0,-0.4,-0.1,-0.8,-0.3,-1c-0.2,-0.3,-0.4,-0.5,-0.8,-0.6c0.2,0,0.4,-0.2,0.5,-0.3c0.2,-0.3,0.4,-0.6,0.4,-1c0,-0.5,-0.2,-0.9,-0.6,-1.2c-0.3,-0.3,-0.8,-0.5,-1.5,-0.5c-0.8,0,-1.4,0.3,-1.7,0.9c-0.2,0.4,-0.3,0.8,-0.3,1.2l0.8,0c0,-0.3,0.1,-0.6,0.2,-0.8c0.2,-0.4,0.5,-0.5,1.1,-0.5c0.3,0,0.5,0.1,0.8,0.2c0.2,0.2,0.3,0.4,0.3,0.8c0,0.4,-0.2,0.7,-0.5,0.9c-0.2,0.1,-0.4,0.1,-0.7,0.1c-0.1,0,-0.2,0,-0.2,0c-0.1,0,-0.1,0,-0.2,0l0,0.7c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2,0c0.5,0,0.9,0.1,1.1,0.2c0.3,0.2,0.4,0.5,0.4,1c0,0.3,-0.1,0.6,-0.4,0.9c-0.2,0.2,-0.5,0.3,-1,0.3c-0.5,0,-0.9,-0.2,-1.1,-0.5c-0.1,-0.2,-0.2,-0.5,-0.2,-0.9l-0.9,0c0,0.6,0.2,1.1,0.5,1.5c0.4,0.4,0.9,0.6,1.7,0.6Z' class='g10_10' /><path d='M131.4,1304l2,-2.9l0,2.9l-2,0Zm2.8,2.2l0,-1.5l1,0l0,-0.7l-1,0l0,-4.2l-0.6,0l-3,4.1l0,0.8l2.8,0l0,1.5l0.8,0Z' class='g10_10' /><path d='M135.8,1304.6c0,0.6,0.3,1.1,0.7,1.4c0.4,0.3,0.8,0.4,1.4,0.4c0.8,0,1.4,-0.2,1.7,-0.7c0.4,-0.4,0.6,-1,0.6,-1.6c0,-0.6,-0.2,-1,-0.6,-1.4c-0.4,-0.4,-0.9,-0.6,-1.5,-0.6c-0.3,0,-0.6,0.1,-0.8,0.2c-0.2,0,-0.3,0.1,-0.5,0.2l0.3,-1.8l2.7,0l0,-0.8l-3.3,0l-0.5,3.5l0.7,0c0.2,-0.2,0.3,-0.3,0.5,-0.4c0.2,-0.1,0.5,-0.2,0.7,-0.2c0.4,0,0.8,0.2,1,0.4c0.3,0.2,0.4,0.6,0.4,1c0,0.4,-0.1,0.7,-0.3,1c-0.2,0.4,-0.6,0.5,-1.1,0.5c-0.2,0,-0.4,0,-0.6,-0.1c-0.4,-0.2,-0.6,-0.5,-0.7,-1l-0.8,0Z' class='g10_10' /><path d='M145.5,1306.5l-5,0l0,1l5,0l0,-1Z' class='g10_10' /><path d='M148.2,1299.8c-1,0,-1.6,0.5,-1.9,1.5c-0.2,0.5,-0.3,1.1,-0.3,1.9c0,0.9,0.1,1.7,0.4,2.2c0.4,0.7,1,1,1.8,1c0.8,0,1.4,-0.4,1.8,-1.2c0.3,-0.6,0.4,-1.3,0.4,-2.2c0,-0.9,-0.1,-1.6,-0.4,-2.1c-0.4,-0.7,-1,-1.1,-1.8,-1.1Zm0,5.9c-0.6,0,-0.9,-0.3,-1.1,-0.9c-0.2,-0.4,-0.3,-0.9,-0.3,-1.6c0,-0.9,0.2,-1.5,0.4,-2c0.2,-0.4,0.5,-0.6,1,-0.6c0.5,0,0.9,0.2,1.1,0.7c0.1,0.4,0.2,1,0.2,1.8c0,1,-0.1,1.7,-0.3,2c-0.3,0.4,-0.6,0.6,-1,0.6Z' class='g10_10' /><path d='M151.1,1306.3l4.4,0l0,-0.8l-3.5,0c0.1,-0.3,0.2,-0.6,0.5,-0.9c0.2,-0.1,0.4,-0.3,0.7,-0.4l0.6,-0.4c0.6,-0.3,1,-0.5,1.2,-0.7c0.3,-0.4,0.5,-0.8,0.5,-1.4c0,-0.4,-0.2,-0.9,-0.5,-1.3c-0.3,-0.4,-0.9,-0.6,-1.6,-0.6c-0.9,0,-1.5,0.3,-1.9,0.9c-0.2,0.4,-0.3,0.9,-0.3,1.4l0.9,0c0,-0.4,0,-0.7,0.1,-0.9c0.3,-0.4,0.6,-0.6,1.2,-0.6c0.4,0,0.7,0.1,0.9,0.3c0.2,0.2,0.3,0.5,0.3,0.9c0,0.3,-0.1,0.6,-0.3,0.8c-0.2,0.2,-0.5,0.4,-0.9,0.6l-0.8,0.5c-0.6,0.3,-1,0.7,-1.2,1.1c-0.2,0.4,-0.3,0.9,-0.3,1.5Z' class='g10_10' /><path d='M160.5,1306.5l-5,0l0,1l5,0l0,-1Z' class='g10_10' /><path d='M161.4,1304.1c0,0.7,0.2,1.3,0.7,1.7c0.4,0.4,1.1,0.6,1.9,0.6c0.7,0,1.2,-0.1,1.8,-0.4c0.5,-0.3,0.7,-0.9,0.7,-1.6c0,-0.6,-0.2,-1,-0.6,-1.3c-0.2,-0.2,-0.5,-0.3,-1,-0.4l-0.9,-0.3c-0.6,-0.1,-0.9,-0.2,-1.1,-0.3c-0.3,-0.2,-0.4,-0.4,-0.4,-0.7c0,-0.3,0.1,-0.6,0.3,-0.8c0.2,-0.2,0.6,-0.3,1.1,-0.3c0.6,0,1.1,0.2,1.3,0.5c0.2,0.2,0.3,0.5,0.3,0.8l0.8,0c0,-0.7,-0.2,-1.3,-0.7,-1.6c-0.4,-0.3,-1,-0.5,-1.7,-0.5c-0.7,0,-1.3,0.2,-1.7,0.6c-0.4,0.4,-0.6,0.8,-0.6,1.4c0,0.6,0.3,1,0.7,1.3c0.2,0.1,0.6,0.3,1.2,0.4l0.8,0.2c0.5,0.1,0.8,0.2,1,0.4c0.3,0.1,0.4,0.4,0.4,0.8c0,0.4,-0.3,0.8,-0.8,0.9c-0.3,0.1,-0.6,0.2,-0.9,0.2c-0.7,0,-1.2,-0.2,-1.5,-0.7c-0.1,-0.2,-0.2,-0.5,-0.2,-0.9l-0.9,0Z' class='g10_10' /><path d='M167.5,1306.5l5,0l0,-1l-4,0l0,-2l4,0l0,-1l-4,0l0,-2l4,0l0,-1l-5,0l0,7Z' class='g10_10' /><path d='M178.5,1306.5l-5,0l0,1l5,0l0,-1Z' class='g10_10' /><path d='M181.7,1299.5c-0.9,0,-1.7,0.3,-2.2,1c-0.5,0.6,-0.8,1.4,-0.8,2.4c0,1.3,0.4,2.2,1,2.8c0.5,0.5,1.2,0.7,1.9,0.7c0.9,0,1.6,-0.3,2.1,-0.8c0.5,-0.5,0.7,-1.1,0.8,-1.8l-0.9,0c-0.1,0.5,-0.2,0.8,-0.4,1.1c-0.3,0.5,-0.8,0.7,-1.5,0.7c-0.7,0,-1.2,-0.2,-1.5,-0.7c-0.4,-0.5,-0.6,-1.1,-0.6,-1.9c0,-0.9,0.2,-1.6,0.6,-2c0.4,-0.5,0.9,-0.7,1.6,-0.7c0.5,0,0.9,0.1,1.2,0.3c0.3,0.3,0.5,0.6,0.6,1l0.8,0c0,-0.5,-0.3,-1,-0.7,-1.4c-0.5,-0.5,-1.1,-0.7,-2,-0.7Z' class='g10_10' /><path d='M187.4,1299.8c-0.9,0,-1.5,0.5,-1.9,1.5c-0.2,0.5,-0.3,1.1,-0.3,1.9c0,0.9,0.2,1.7,0.5,2.2c0.4,0.7,0.9,1,1.7,1c0.9,0,1.5,-0.4,1.9,-1.2c0.2,-0.6,0.3,-1.3,0.3,-2.2c0,-0.9,-0.1,-1.6,-0.4,-2.1c-0.4,-0.7,-1,-1.1,-1.8,-1.1Zm0,5.9c-0.5,0,-0.9,-0.3,-1.1,-0.9c-0.1,-0.4,-0.2,-0.9,-0.2,-1.6c0,-0.9,0.1,-1.5,0.3,-2c0.2,-0.4,0.6,-0.6,1.1,-0.6c0.5,0,0.8,0.2,1,0.7c0.2,0.4,0.3,1,0.3,1.8c0,1,-0.2,1.7,-0.4,2c-0.2,0.4,-0.6,0.6,-1,0.6Z' class='g10_10' /><path d='M192.7,1299.8c-1,0,-1.7,0.5,-2,1.6c-0.2,0.6,-0.3,1.2,-0.3,2c0,1.1,0.2,1.9,0.6,2.3c0.5,0.5,1,0.7,1.6,0.7c0.7,0,1.2,-0.2,1.6,-0.7c0.4,-0.4,0.6,-0.9,0.6,-1.5c0,-0.7,-0.2,-1.2,-0.6,-1.5c-0.4,-0.4,-0.9,-0.6,-1.4,-0.6c-0.4,0,-0.6,0.1,-0.9,0.2c-0.3,0.2,-0.5,0.4,-0.7,0.6c0,-0.7,0.2,-1.3,0.5,-1.8c0.2,-0.4,0.6,-0.6,1,-0.6c0.4,0,0.7,0.2,0.9,0.4c0.1,0.2,0.2,0.4,0.2,0.6l0.8,0c0,-0.4,-0.1,-0.8,-0.4,-1.1c-0.3,-0.4,-0.8,-0.6,-1.5,-0.6Zm0,5.9c-0.5,0,-0.8,-0.1,-1,-0.4c-0.3,-0.3,-0.4,-0.6,-0.4,-1c0,-0.5,0.1,-0.8,0.4,-1.1c0.3,-0.2,0.6,-0.3,0.9,-0.3c0.5,0,0.8,0.1,1,0.4c0.2,0.3,0.3,0.6,0.3,1c0,0.4,-0.1,0.7,-0.3,1c-0.2,0.3,-0.5,0.4,-0.9,0.4Z' class='g10_10' /><path d='M195.5,1306.5l1,0l0,-1l-1,0l0,1Z' class='g10_10' /><path d='M200.1,1301.7l0,4.6l0.8,0l0,-6.4l-0.6,0c-0.1,0.5,-0.3,0.8,-0.5,0.9c-0.3,0.1,-0.7,0.2,-1.2,0.3l0,0.6l1.5,0Z' class='g10_10' /><path d='M203.5,1306.5l1,0l0,-1l-1,0l0,1Z' class='g10_10' /><path d='M205.5,1306.5l1,0l0,-5l-1,0l0,5Zm0,-6l1,0l0,-1l-1,0l0,1Z' class='g10_10' /><path d='M207.9,1306.3l0.9,0l0,-2.6c0,-0.3,0,-0.5,0,-0.7c0.1,-0.2,0.1,-0.3,0.3,-0.5c0.1,-0.2,0.3,-0.3,0.6,-0.4c0.1,0,0.2,0,0.4,0c0.4,0,0.7,0.1,0.8,0.4c0.1,0.2,0.1,0.4,0.1,0.7l0,3.1l0.9,0l0,-3.1c0,-0.5,-0.1,-0.9,-0.2,-1.1c-0.3,-0.5,-0.7,-0.8,-1.4,-0.8c-0.3,0,-0.6,0.1,-0.9,0.2c-0.2,0.2,-0.5,0.4,-0.7,0.6l0,-0.6l-0.8,0l0,4.8Z' class='g10_10' /><path d='M213.6,1303.9c0,-0.6,0.1,-1,0.3,-1.4c0.3,-0.3,0.6,-0.4,1,-0.4c0.4,0,0.7,0.1,0.9,0.4c0.3,0.3,0.4,0.7,0.4,1.4c0,0.6,-0.1,1,-0.4,1.3c-0.2,0.4,-0.5,0.5,-0.9,0.5c-0.5,0,-0.8,-0.2,-1,-0.5c-0.2,-0.3,-0.3,-0.8,-0.3,-1.3Zm1.2,-2.5c-0.7,0,-1.2,0.2,-1.6,0.7c-0.3,0.6,-0.5,1.2,-0.5,1.9c0,0.7,0.2,1.3,0.6,1.7c0.4,0.5,0.8,0.7,1.4,0.7c0.3,0,0.6,0,0.8,-0.2c0.3,-0.1,0.5,-0.3,0.7,-0.6l0,0.6l0.7,0l0,-6.5l-0.7,0l0,2.4c-0.2,-0.3,-0.4,-0.4,-0.5,-0.5c-0.3,-0.2,-0.6,-0.2,-0.9,-0.2Z' class='g10_10' /><path d='M218.7,1303.9c0,-0.6,0.1,-1,0.3,-1.4c0.3,-0.3,0.6,-0.4,1,-0.4c0.4,0,0.7,0.1,0.9,0.4c0.3,0.3,0.4,0.7,0.4,1.4c0,0.6,-0.1,1,-0.4,1.3c-0.2,0.4,-0.5,0.5,-0.9,0.5c-0.5,0,-0.8,-0.2,-1,-0.5c-0.2,-0.3,-0.3,-0.8,-0.3,-1.3Zm1.2,-2.5c-0.7,0,-1.2,0.2,-1.6,0.7c-0.3,0.6,-0.5,1.2,-0.5,1.9c0,0.7,0.2,1.3,0.6,1.7c0.4,0.5,0.8,0.7,1.4,0.7c0.3,0,0.6,0,0.8,-0.2c0.3,-0.1,0.5,-0.3,0.7,-0.6l0,0.6l0.7,0l0,-6.5l-0.7,0l0,2.4c-0.2,-0.3,-0.4,-0.4,-0.5,-0.5c-0.3,-0.2,-0.6,-0.2,-0.9,-0.2Z' class='g10_10' /><path d='M231.3,1304l2,-2.9l0,2.9l-2,0Zm2.8,2.2l0,-1.5l1,0l0,-0.7l-1,0l0,-4.2l-0.6,0l-3,4.1l0,0.8l2.8,0l0,1.5l0.8,0Z' class='g10_10' /><path d='M237.9,1299.8c-1,0,-1.6,0.5,-1.9,1.5c-0.2,0.5,-0.3,1.1,-0.3,1.9c0,0.9,0.1,1.7,0.4,2.2c0.4,0.7,1,1,1.8,1c0.8,0,1.4,-0.4,1.8,-1.2c0.3,-0.6,0.4,-1.3,0.4,-2.2c0,-0.9,-0.1,-1.6,-0.4,-2.1c-0.4,-0.7,-1,-1.1,-1.8,-1.1Zm0,5.9c-0.6,0,-0.9,-0.3,-1.1,-0.9c-0.2,-0.4,-0.3,-0.9,-0.3,-1.6c0,-0.9,0.2,-1.5,0.4,-2c0.2,-0.4,0.5,-0.6,1,-0.6c0.5,0,0.9,0.2,1.1,0.7c0.1,0.4,0.2,1,0.2,1.8c0,1,-0.1,1.7,-0.3,2c-0.3,0.4,-0.6,0.6,-1,0.6Z' class='g10_10' /><path d='M240.8,1299.9l0,0.9l3.6,0c-0.5,0.5,-0.9,1.1,-1.3,1.8c-0.7,1.2,-1.2,2.4,-1.4,3.7l0.9,0c0.2,-0.7,0.3,-1.2,0.4,-1.5c0.1,-0.4,0.3,-0.9,0.6,-1.5c0.2,-0.6,0.5,-1.1,0.9,-1.6c0.3,-0.5,0.6,-0.8,0.8,-1l0,-0.8l-4.5,0Z' class='g10_10' /><text x='74' y='1306' dx='0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0' class='s22_10'>M06_BRIG7345_02_SE_C06.1.indd</text><text x='230' y='1306' dx='0,0,0' class='s22_10'>407</text><path d='M912.4,1306.3l4.4,0l0,-0.8l-3.5,0c0,-0.3,0.2,-0.6,0.5,-0.9c0.2,-0.1,0.4,-0.3,0.7,-0.4l0.6,-0.4c0.6,-0.3,1,-0.5,1.2,-0.7c0.3,-0.4,0.5,-0.8,0.5,-1.4c0,-0.4,-0.2,-0.9,-0.5,-1.3c-0.3,-0.4,-0.9,-0.6,-1.6,-0.6c-0.9,0,-1.5,0.3,-1.9,0.9c-0.2,0.4,-0.3,0.9,-0.3,1.4l0.8,0c0.1,-0.4,0.1,-0.7,0.2,-0.9c0.2,-0.4,0.6,-0.6,1.2,-0.6c0.4,0,0.7,0.1,0.9,0.3c0.2,0.2,0.3,0.5,0.3,0.9c0,0.3,-0.1,0.6,-0.4,0.8c-0.1,0.2,-0.4,0.4,-0.8,0.6l-0.8,0.5c-0.6,0.3,-1,0.7,-1.2,1.1c-0.2,0.4,-0.3,0.9,-0.3,1.5Z' class='g10_10' /><path d='M919.6,1301.7l0,4.6l0.8,0l0,-6.4l-0.6,0c-0.1,0.5,-0.3,0.8,-0.5,0.9c-0.3,0.1,-0.7,0.2,-1.2,0.3l0,0.6l1.5,0Z' class='g10_10' /><path d='M922.3,1306.3l0.7,0l2,-6.6l-0.6,0l-2.1,6.6Z' class='g10_10' /><path d='M927.2,1301.7l0,4.6l0.9,0l0,-6.4l-0.7,0c-0.1,0.5,-0.2,0.8,-0.5,0.9c-0.2,0.1,-0.6,0.2,-1.2,0.3l0,0.6l1.5,0Z' class='g10_10' /><path d='M932.4,1299.8c-0.9,0,-1.6,0.5,-1.9,1.5c-0.2,0.5,-0.3,1.1,-0.3,1.9c0,0.9,0.2,1.7,0.5,2.2c0.4,0.7,0.9,1,1.7,1c0.9,0,1.5,-0.4,1.8,-1.2c0.3,-0.6,0.4,-1.3,0.4,-2.2c0,-0.9,-0.1,-1.6,-0.4,-2.1c-0.4,-0.7,-1,-1.1,-1.8,-1.1Zm0,5.9c-0.5,0,-0.9,-0.3,-1.1,-0.9c-0.2,-0.4,-0.2,-0.9,-0.2,-1.6c0,-0.9,0.1,-1.5,0.3,-2c0.2,-0.4,0.6,-0.6,1.1,-0.6c0.5,0,0.8,0.2,1,0.7c0.2,0.4,0.3,1,0.3,1.8c0,1,-0.2,1.7,-0.4,2c-0.3,0.4,-0.6,0.6,-1,0.6Z' class='g10_10' /><path d='M935,1306.3l0.7,0l2.1,-6.6l-0.7,0l-2.1,6.6Z' class='g10_10' /><path d='M940,1301.7l0,4.6l0.8,0l0,-6.4l-0.6,0c-0.1,0.5,-0.3,0.8,-0.5,0.9c-0.3,0.1,-0.7,0.2,-1.3,0.3l0,0.6l1.6,0Z' class='g10_10' /><path d='M945,1306.4c0.8,0,1.4,-0.2,1.8,-0.6c0.4,-0.3,0.6,-0.8,0.6,-1.4c0,-0.4,-0.1,-0.8,-0.3,-1c-0.2,-0.3,-0.5,-0.5,-0.8,-0.6c0.2,0,0.4,-0.2,0.5,-0.3c0.2,-0.3,0.3,-0.6,0.3,-1c0,-0.5,-0.2,-0.9,-0.5,-1.2c-0.4,-0.3,-0.9,-0.5,-1.5,-0.5c-0.9,0,-1.4,0.3,-1.8,0.9c-0.2,0.4,-0.3,0.8,-0.3,1.2l0.8,0c0.1,-0.3,0.1,-0.6,0.2,-0.8c0.2,-0.4,0.6,-0.5,1.2,-0.5c0.3,0,0.5,0.1,0.7,0.2c0.3,0.2,0.4,0.4,0.4,0.8c0,0.4,-0.2,0.7,-0.5,0.9c-0.2,0.1,-0.5,0.1,-0.8,0.1c0,0,-0.1,0,-0.2,0c0,0,-0.1,0,-0.2,0l0,0.7c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.2,0c0.4,0,0.8,0.1,1.1,0.2c0.3,0.2,0.4,0.5,0.4,1c0,0.3,-0.1,0.6,-0.4,0.9c-0.2,0.2,-0.6,0.3,-1,0.3c-0.6,0,-0.9,-0.2,-1.1,-0.5c-0.2,-0.2,-0.2,-0.5,-0.3,-0.9l-0.8,0c0,0.6,0.2,1.1,0.5,1.5c0.3,0.4,0.9,0.6,1.6,0.6Z' class='g10_10' /><path d='M957.8,1306.4c0.7,0,1.3,-0.2,1.7,-0.6c0.4,-0.3,0.6,-0.8,0.6,-1.4c0,-0.4,-0.1,-0.8,-0.3,-1c-0.2,-0.3,-0.4,-0.5,-0.8,-0.6c0.2,0,0.4,-0.2,0.5,-0.3c0.3,-0.3,0.4,-0.6,0.4,-1c0,-0.5,-0.2,-0.9,-0.6,-1.2c-0.3,-0.3,-0.8,-0.5,-1.5,-0.5c-0.8,0,-1.4,0.3,-1.7,0.9c-0.2,0.4,-0.3,0.8,-0.3,1.2l0.8,0c0,-0.3,0.1,-0.6,0.2,-0.8c0.2,-0.4,0.6,-0.5,1.1,-0.5c0.3,0,0.6,0.1,0.8,0.2c0.2,0.2,0.3,0.4,0.3,0.8c0,0.4,-0.1,0.7,-0.5,0.9c-0.2,0.1,-0.4,0.1,-0.7,0.1c-0.1,0,-0.2,0,-0.2,0c-0.1,0,-0.1,0,-0.2,0l0,0.7c0,0,0.1,0,0.1,0c0.1,0,0.2,0,0.2,0c0.5,0,0.9,0.1,1.1,0.2c0.3,0.2,0.4,0.5,0.4,1c0,0.3,-0.1,0.6,-0.3,0.9c-0.3,0.2,-0.6,0.3,-1.1,0.3c-0.5,0,-0.9,-0.2,-1.1,-0.5c-0.1,-0.2,-0.2,-0.5,-0.2,-0.9l-0.9,0c0,0.6,0.2,1.1,0.5,1.5c0.4,0.4,0.9,0.6,1.7,0.6Z' class='g10_10' /><path d='M961.5,1302.5l1,0l0,-1l-1,0l0,1Zm0,4l1,0l0,-1l-1,0l0,1Z' class='g10_10' /><path d='M965.4,1301.7l0,4.6l0.9,0l0,-6.4l-0.6,0c-0.2,0.5,-0.3,0.8,-0.6,0.9c-0.2,0.1,-0.6,0.2,-1.2,0.3l0,0.6l1.5,0Z' class='g10_10' /><path d='M970.5,1301.7l0,4.6l0.9,0l0,-6.4l-0.6,0c-0.2,0.5,-0.3,0.8,-0.6,0.9c-0.2,0.1,-0.6,0.2,-1.2,0.3l0,0.6l1.5,0Z' class='g10_10' /><path d='M976.6,1306.3l0.9,0l0,-2.8l2,0c0.7,0,1.2,-0.2,1.5,-0.6c0.3,-0.4,0.5,-0.8,0.5,-1.3c0,-0.6,-0.2,-1.1,-0.6,-1.4c-0.3,-0.4,-0.8,-0.5,-1.4,-0.5l-2.9,0l0,6.6Zm4,-4.7c0,0.4,-0.2,0.7,-0.4,0.9c-0.3,0.1,-0.6,0.2,-1,0.2l-1.7,0l0,-2.3l1.7,0c0.4,0,0.6,0.1,0.8,0.2c0.4,0.2,0.6,0.5,0.6,1Z' class='g10_10' /><path d='M982.6,1306.3l0.8,0l0,-3.9c0,-0.2,0,-0.4,0,-0.8c0,-0.3,0,-0.5,0,-0.7l0,-0.2l1.9,5.6l0.9,0l1.9,-5.6c0,0.4,0,0.7,0,1c-0.1,0.3,-0.1,0.5,-0.1,0.7l0,3.9l0.9,0l0,-6.6l-1.3,0l-1.8,5.5l-1.9,-5.5l-1.3,0l0,6.6Z' class='g10_10' /><text x='912' y='1306' dx='0,0,0,0,0,0,0,0,0' class='s22_10'>21/10/13</text><text x='955' y='1306' dx='0,0,0,0,0,0,0' class='s22_10'>3:11 PM</text><!-- Any embedded fonts defined here --><style type='text/css'><![CDATA[ @font-face { font-family: PearsonMATHPRO08_3ah; src: url('fonts/PearsonMATHPRO08_3ah.woff') format('woff'); } @font-face { font-family: TimesLTStd-BoldItalic_3pf; src: url('fonts/TimesLTStd-BoldItalic_3pf.woff') format('woff'); } @font-face { font-family: TimesLTStd-Roman_37r; src: url('fonts/TimesLTStd-Roman_37r.woff') format('woff'); } @font-face { font-family: PearsonMATHPRO01_3o1; src: url('fonts/PearsonMATHPRO01_3o1.woff') format('woff'); } @font-face { font-family: PearsonMATHPRO02_3bv; src: url('fonts/PearsonMATHPRO02_3bv.woff') format('woff'); } @font-face { font-family: TimesLTStd-Italic_393; src: url('fonts/TimesLTStd-Italic_393.woff') format('woff'); } @font-face { font-family: MyriadPro-Bold_3id; src: url('fonts/MyriadPro-Bold_3id.woff') format('woff'); } @font-face { font-family: TimesLTStd-Roman_3rb; src: url('fonts/TimesLTStd-Roman_3rb.woff') format('woff'); } @font-face { font-family: TimesLTStd-Bold_3m5; src: url('fonts/TimesLTStd-Bold_3m5.woff') format('woff'); } @font-face { font-family: PearsonMATHPRO18_3d7; src: url('fonts/PearsonMATHPRO18_3d7.woff') format('woff'); } @font-face { font-family: TimesLTStd-Italic_3rv; src: url('fonts/TimesLTStd-Italic_3rv.woff') format('woff'); } @font-face { font-family: Helvetica_3sd; src: url('fonts/Helvetica_3sd.woff') format('woff'); } @font-face { font-family: TimesLTStd-Roman_3k9; src: url('fonts/TimesLTStd-Roman_3k9.woff') format('woff'); } @font-face { font-family: TimesLTStd-Semibold_3gh; src: url('fonts/TimesLTStd-Semibold_3gh.woff') format('woff'); } @font-face { font-family: TimesLTStd-Italic_3el; src: url('fonts/TimesLTStd-Italic_3el.woff') format('woff'); } ]]></style></svg>"
            ]
        }
        
## Section Objectives [/chapters/{chapterId}/sections/{sectionId}/objectives]

### Update Section Objectives [PUT]

Send a PUT request containing all of the objectives you want the section to have linked to the exercises in the section (by exercise ID).  No need to send rating or ratingSuggestions properties (they will be ignored).

+ Parameters
    + chapterId (string) - ID of the Chapter in the form of an alphanumeric ID.
    + sectionId (string) - ID of the Section in the form of a string.

+ Request (application/json)

        {
            "objectives": [
                {
                    "number": "1",
                    "content": "Review properties of velocity and net change.",
                    "exerciseIds": [ "ffffffff55ac48f0e4b0c679d51ee134" ]
                }
            ]
        }

+ Response 200 (application/json)

## Exercise Objective Recommendations [/chapters/{chapterId}/sections/{sectionId}/recommend?limit={limitSize}]

### Retrieve Objective Recommendations [POST]

+ Parameters
    + chapterId (string) - ID of the Chapter in the form of an alphanumeric ID.
    + sectionId (string) - ID of the Section in the form of a string.
    + limitSize (number) - Max number of recommendations to return.

+ Request (application/json)

        {
            "exercise": {
                "content": "Explain how to use definite integrals to find the net change in a quantity, given the rate of change of that quantity."
            }
        }

+ Response 200 (application/json)

        {
            "recommendations": [
                {
                    "content": "Review properties of velocity and net change.",
                    "rating": 68,
                    "ratingSuggestions": [
                        {
                            "message": "Mauris sed orci varius dui ultricies dignissim.",
                            "documentation": "http://private-adf3e-greenway.apiary-mock.com/standards/objectives/VB31",
                            "priority": 8
                        },
                        {
                            "message": "Donec a magna id nulla iaculis dapibus.",
                            "documentation": "http://private-adf3e-greenway.apiary-mock.com/standards/objectives/WD22",
                            "priority": 3
                        }
                    ]
                }, 
                {
                    "content": "Solve applications involving net change and future value.",
                    "rating": 92,
                    "ratingSuggestions": [
                        {
                            "message": "Mauris sed orci varius dui ultricies dignissim.",
                            "documentation": "http://private-adf3e-greenway.apiary-mock.com/standards/objectives/VB31",
                            "priority": 8
                        },
                        {
                            "message": "Donec a magna id nulla iaculis dapibus.",
                            "documentation": "http://private-adf3e-greenway.apiary-mock.com/standards/objectives/WD22",
                            "priority": 3
                        }
                    ]
                },
                {
                    "content": "Find position and velocity from acceleration.",
                    "rating": 37,
                    "ratingSuggestions": [
                        {
                            "message": "Mauris sed orci varius dui ultricies dignissim.",
                            "documentation": "http://private-adf3e-greenway.apiary-mock.com/standards/objectives/VB31",
                            "priority": 8
                        },
                        {
                            "message": "Donec a magna id nulla iaculis dapibus.",
                            "documentation": "http://private-adf3e-greenway.apiary-mock.com/standards/objectives/WD22",
                            "priority": 3
                        }
                    ]
                },
                {
                    "content": "Solve applications involving quantities changing over time.",
                    "rating": 81,
                    "ratingSuggestions": [
                        {
                            "message": "Mauris sed orci varius dui ultricies dignissim.",
                            "documentation": "http://private-adf3e-greenway.apiary-mock.com/standards/objectives/VB31",
                            "priority": 8
                        },
                        {
                            "message": "Donec a magna id nulla iaculis dapibus.",
                            "documentation": "http://private-adf3e-greenway.apiary-mock.com/standards/objectives/WD22",
                            "priority": 3
                        }
                    ]
                }
            ]
        }